.paused-board-overlay {
  cursor: pointer;
  border: none;
  background: none;
}

.paused-board-overlay__icon {
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: hsl(212, 72%, 59%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
}
