.keypad {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr auto auto;
}

.keypad .new-game-button {
  grid-column: 1 / -1;
  grid-row-start: 1;
  margin-bottom: 20px;
}

.keypad .numkey {
  grid-column-end: span 2;
  border-bottom: none;
}

.keypad .numkey:not(:nth-child(3n + 1)) {
  border-left: none;
}

.keypad .toggle-notes-button,
.keypad .hint-button,
.keypad .erase-button {
  grid-column-end: span 3;
}

.keypad .toggle-notes-button {
  border-right: none;
  border-bottom: none;
}

@media (max-width: 800px) {
  .keypad {
    margin-top: 20px;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
  }

  .keypad .new-game-button {
    display: none;
  }

  .keypad .numkey {
    grid-row-start: 2;
    grid-column-end: span 4;
    font-size: 40px;
  }

  .keypad .toggle-notes-button,
  .keypad .hint-button,
  .keypad .erase-button {
    grid-row-start: 1;
    grid-column-end: span 12;
  }

  .keypad .numkey,
  .keypad .erase-button,
  .keypad .hint-button,
  .keypad .toggle-notes-button {
    border: none;
  }
}

@media (max-width: 660px) {
  .keypad {
    margin-top: 0;
    grid-row-gap: 0;
  }
}
