.numkey {
  cursor: pointer;
  background: white;
  border: 1px solid hsl(218, 20%, 79%);
  font-size: 50px;
  color: hsl(213, 30%, 29%);
  transition: background 200ms ease-in-out;
}

.numkey:hover,
.numkey:focus {
  background: hsl(214, 41%, 97%);
}
