.app {
  margin: auto;
  max-width: 1050px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.top-row {
  grid-column-end: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-and-pause-button {
  display: flex;
  align-items: center;
}

.top-row .pause-play-button {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .app {
    grid-template-columns: 1fr;
    grid-gap: 0;
    width: 495px;
  }

  .top-row {
    margin-bottom: 10px;
    grid-column-end: span 1;
  }
}

@media (max-width: 535px) {
  .app {
    width: calc(100vw - 40px);
  }
}
