.tile {
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.tile--read-only {
  color: black;
}

/* preserve order between highlighted selected for specificity */
.tile.tile--highlighted {
  background: lightgrey;
}

.tile.tile--selected {
  background: lightblue;
}
