.tile {
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.tile--read-only {
  color: black;
}

.tile--correct {
  color: blue;
}

.tile--notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  font-size: 12px;
  color: #333;
}

/* preserve order between highlighted selected for specificity */
.tile.tile--highlighted {
  background: lightgrey;
}

.tile.tile--selected {
  background: lightblue;
}
